<div>
<div id="drawArea" style="background: lightgray;">
  <div *ngFor="let ele of list; let i = index" class="graphElement"
  [ngStyle]="{'bottom.px':convertToPixels(selectCorrectYValue(ele.Ratings),this.minYValue, this.maxYValue),
   'left.px':convertToPixels(+(ele.Year), this.minXValue, this.maxXValue),
    'z-index': i}">
    <p (click)="logElement(ele)">{{ele.Title}}<br>
    ({{ele.Year}}, {{getCorrectRating(ele.Ratings)}})</p>
  </div>
</div>
</div>
<div>
<div id="ratingCheckers">
    <h3>Select y value:</h3>
  <select (change)="setNewYValue($event)">
    <option selected value="Internet Movie Database">imdb rating</option>
    <option value="Metacritic">Metacritic</option>
    <option value="Rotten Tomatoes">Rotten Tomatoes</option>
  </select>
  </div>
  <table>
    <tr>
      <th></th>
      <th>X</th>
      <th>Y</th>
    </tr>
    <tr>
      <td>Min</td>
      <td><p>{{minXValue}}</p></td>
      <td><p>{{minYValue}}</p></td>
    </tr>
    <tr>
      <td>Max</td>
      <td><p>{{maxXValue}}</p></td>
      <td><p>{{maxYValue}}</p></td>
    </tr>
  </table>
</div>
