#drawArea {
  width: 700px;
  height: 650px;
  position: relative;
  border: solid 1px black;
  background-size: 50px 50px;
  background-image: linear-gradient(
      to right,
      rgb(161, 161, 161) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(161, 161, 161) 1px, transparent 1px);
}

.graphElement {
  position: absolute;
}

.graphElement:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -5px;
  transform:translate(50%,-50%);
  width: 5px;
  height:5px;
  border-radius: 50%;
  background: black;
  mix-blend-mode:darken;
}

.graphElement:hover {
  border: solid 1px black;
  cursor: pointer;
}
