<div>
<div id="drawArea" style="background: lightgray;">
  <div *ngFor="let ele of list; let i = index" class="graphElement"
  [ngStyle]="{'bottom.px':convertToPixels(selectCorrectYValue(ele.Ratings),this.minYValue, this.maxYValue),
   'left.px':convertToPixels(+(ele.Year), this.minXValue, this.maxXValue),
    'z-index': i}">
    <p (click)="logElement(ele)">{{ele.Title}}<br>
    ({{ele.Year}}, {{getCorrectRating(ele.Ratings)}})</p>
  </div>
</div>
</div>
<div style="padding-top: 2em;">
  <div style="float: left;padding-left: 10em;" id="ratingCheckers">
    <mat-form-field appearance="fill">
      <mat-label>Rating source (Y value)</mat-label>
      <mat-select [(value)]="ratingType">
        <mat-option [value] = "ratingTypes[0]">Imdb</mat-option>
        <mat-option [value] = "ratingTypes[1]">Metacritic</mat-option>
        <mat-option [value] = "ratingTypes[2]">Rotten Tomatoes</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div style="float: right;padding-right: 10em;">
    <table>
      <tr>
        <th></th>
        <th>X</th>
        <th>Y</th>
      </tr>
      <tr>
        <td>Min</td>
        <td><p>{{minXValue}}</p></td>
        <td><p>{{minYValue}}</p></td>
      </tr>
      <tr>
        <td>Max</td>
        <td><p>{{maxXValue}}</p></td>
        <td><p>{{maxYValue}}</p></td>
      </tr>
    </table>
  </div>
</div>
